.footer {
    margin: 40px 0px 0px;
    padding: 0px 100px 20px;
    background-color: rgb(235, 235, 235);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.footer .subscribe {
    margin: 10px
}
.footer .column {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer li {
    margin-bottom: 4px;
}

.footer h3, h2 {
    text-decoration: underline;
}

.footer a {
    text-decoration: underline;
}

.footer a:hover {
    color: rgb(207, 76, 0);
    transition: .3s;
}

.footer a:visited {
    text-decoration: underline;
}

.footer button {
    margin-left: 10px;
    background-color: rgb(207, 76, 0);
    color: white;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.footer button:hover {
    background-color: white;
    color: rgb(207, 76, 0);
    transition: .3s;
}




@media only screen and (max-width: 940px) {
    .footer {
        grid-template-columns: repeat(2,1fr);
    }
  }

  @media only screen and (max-width: 800px) {
    .footer {
        grid-template-columns: repeat(1,1fr);
        margin-top: 30px;
    }
  }