.footer {
    margin: 20px 0px 0px;
    padding: 0px 10px;
    background-color: gray;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.footer .column {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer li {
    margin-bottom: 4px;
}

.footer h3, h2 {
    text-decoration: underline;
}





@media only screen and (max-width: 940px) {
    .footer {
        grid-template-columns: repeat(2,1fr);
    }
  }

  @media only screen and (max-width: 800px) {
    .footer {
        grid-template-columns: repeat(1,1fr);
        margin-top: 30px;
    }
  }