#root {
  --header-text-color: black;
  --header-text-size: 1.3rem;
  --product-bg-color: white;
}

.App {
  text-align: center;
}

a:-webkit-any-link {
  text-decoration: none;
}

li {
  list-style: none;
}

                                        /* HEADER */
.header {
  padding: 0px 10px;
  color: var(--header-text-color);
  font-size: var(--header-text-size);
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  width: clamp(150px, 20%, 400px);
}

/* .header h1 {
  font-size: 4rem;
  font-family: 'Dancing Script', cursive;
  justify-self: right;
} */

.header .links {
  width: clamp(150px,20%,200px);
  display: flex;
  justify-content: space-between;
  gap: 6px;
  text-decoration-line: none;
}

.header .links a:visited {
  color: var(--header-text-color);
}

.header .links a:hover {
  background-color: black;
  color: white;
  transform: scale(1.2);
  transition: .7s;
}


                                        /* HOME */

.home-background {
  background-image: url("./img/home-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  position: relative;
  height: 700px;
}

.home-content {
  padding: 10px;
  width: 90%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.36);
  /* -webkit-backdrop-filter: blur(10px); */
  backdrop-filter: blur(2px);

}

                                        /* FEATURED ITEMS */

.featured-items ul {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 10px;
  column-gap: 1%;
  justify-items: center;
}

.featured-items li {
  list-style: none;
}

.featured .price {
  color: red;
  text-decoration: line-through;
}

.featured .new-price {
  font-weight: 700;
  font-size: 1.1rem;
}
                                        /* PRODUCTS */

.product {
  padding: 6px;
  text-align: center;
  background-color: var(--product-bg-color);
  border-radius: 5px;
}

.product img {
  width: 225px;
}

.product .description {
  color: rgb(110, 110, 110);
}

/* Image flips */
.flip-container {
  margin: 10px;
  perspective: 1000;
  display: inline-block;
}
.flip-container:hover .product-picture {
  transform: rotateY(180deg);
}
.product-picture, .front, .back {
  width: 225px;
  height: 300px;
}
.product-picture {
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}
.front, .back {
  backface-visibility: hidden;
  position: absolute;
}
.front {
  z-index: 2;
  transform: rotateY(0deg);
}
.back {
  z-index: 0; /* back side, placed above front */
  transform: rotateY(180deg);
}