#root {
  --header-text-color: black;
  --header-text-size: 1.3rem;
  --product-bg-color: white;
}

.App {
  text-align: center;
}

a:-webkit-any-link {
  text-decoration: none;
  color: initial;
}

li {
  list-style: none;
}
button{
  cursor: pointer;
}

                                        /* HEADER */
.header {
  margin-bottom: 15px;
  padding: 0px 10px;
  color: var(--header-text-color);
  font-size: var(--header-text-size);
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

.header img {
  width: clamp(150px, 20%, 200px);
}

.logo-link {
  width: 150px;
}

.header .links {
  margin: 0 10px 0 0;
  width: clamp(150px,20%,200px);
  display: flex;
  justify-content: space-between;
  gap: 6px;
  text-decoration-line: none;
}

.header .links a:visited {
  color: var(--header-text-color);
}

.header .links a:hover {
 color: white;
  background-color: rgb(207, 76, 0);
  transform: scale(1.2);
  transition: .7s;
}

#cart-icon {
  margin: 2px;
  width: 24px;
}
#cart-icon:hover {
  margin: 2px;
  border: 1px solid rgb(207, 76, 0);
}


                                        /* HOME */

.home-background {
  background-image: url("./img/home-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  position: relative;
  height: 700px;
}

.home-content {
  padding: 10px;
  width: 90%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.36);
  /* -webkit-backdrop-filter: blur(10px); */
  backdrop-filter: blur(2px);

}

                                        /* FEATURED ITEMS */

.featured-items ul {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 10px;
  column-gap: 1%;
  justify-items: center;
}

.featured-items li {
  list-style: none;
}

.featured .price {
  color: red;
  text-decoration: line-through;
}

.featured .new-price {
  font-weight: 700;
  font-size: 1.1rem;
}
                                        /* PRODUCTS */

.product {
  padding: 6px;
  text-align: center;
  background-color: var(--product-bg-color);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

.product img {
  width: 225px;
}

.product .description {
  color: rgb(110, 110, 110);
}

/* Image flips */
.flip-container {
  margin: 10px;
  perspective: 1000;
  display: inline-block;
}
.flip-container:hover .product-picture {
  transform: rotateY(180deg);
}
.product-picture, .front, .back {
  width: 225px;
  height: 300px;
}
.product-picture {
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}
.front, .back {
  backface-visibility: hidden;
  position: absolute;
}
.front {
  z-index: 2;
  transform: rotateY(0deg);
}
.back {
  z-index: 0; /* back side, placed above front */
  transform: rotateY(180deg);
}

                                        /* SHOP */
.main-shop-container {
  display: grid;
  grid-template-columns: minmax(100px,15%) 85%;
  column-gap: 10px;
}
.product-display ul {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns:repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  row-gap: 10px;
  column-gap: 1%;
  justify-items: center;
}

.product-display li {
  list-style: none;
}

.product-navigation {
  margin: 0 0 0 15px;
  padding: 0 10px;
  height: 600px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.product-navigation ul {
  padding: 0 0 0 10px;
  text-align: left;
}

.product-navigation li {
  padding: 5px 0px;
  cursor: pointer;
}

                                        /* CART */
.cart-background{
  display: flex;
  justify-content: center;
}

.cart-container{
  padding: 10px;
  background-color: rgb(211, 211, 211);
}

.cart-container ul {
  margin: 0;
  padding: 0;
}

.product.in-cart {
  margin: 8px;
  padding: 10;
  border: 1px solid black;
  font-size: 12px;
  box-shadow: none;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.info{
  width: 105px;
}
.quantity-container{
  display: flex;
  justify-content: space-between;
}
.in-cart p.name{
  margin-bottom: 20px;
}

.in-cart img {
  width: 100px;
}

.in-cart .product-picture {
  width: 100px;
  height: auto;
}

                                        /* MEDIA QUERIES */

@media only screen and (max-width: 1210px) {
  .product-display ul {
  grid-template-columns:repeat(3, 1fr);
  }
  .product-navigation {
    height: 650px;
  }
}

@media only screen and (max-width: 940px) {
  .header .links{
    margin-right: 40px;
  }
  .featured-items .product img {
    width: 125px;
  }

  .featured-items li {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 150px;
  }
  .featured-items .flip-container{
    height: 200px;
  }
  .featured-items .product-picture,
  .featured-items .front,
  .featured-items .back {
    width: 225px;
    height: 300px;
  }

  .product-navigation {
    height: 850px;
  }
  .product-display ul {
  grid-template-columns:repeat(2, 1fr);

  }
}

@media only screen and (max-width: 800px) {
  .header{
    height: 36px;
    justify-content: center;
  }
  .logo, a.logo-link{
    display: none;
  }
  .home-background{
    background-image: none;
    height: 1750px;
  }
  .featured-items .product {
    width: 260px;
    height: 550px;
  }
  .featured-items .product img {
    width: 225px;
    height: 300px;
  }
  .featured-items ul {
    grid-template-columns: 1fr;
  }
  .featured-items .flip-container{
    height: 300px;
  }
  .main-shop-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .product-display ul {
  grid-template-columns:repeat(1, 1fr);
  }
  .product-navigation {
    margin: 10px;
    padding-left: 10%;
    width: 50vw;
    height: 600px;
  }
}